<% provide(:title, 'Contact') %>
<div class="center hero-unit">
<h1>Contact</h1>
<p>
Please contact us with any questions or inquiries. You can email us at info@gulchsolutions.com or give us a call at (630-248-0777)
</p>