<div class="center hero-unit">
  <h1>Gulch</h1>

  <h2> Simplifying Energy Billing and Usage</h2>

  <!-- <img src="assets/images/imga.jpg" width="303" height="160" alt="Gulch Solutions"/> -->

  <%= link_to "Demo", signup_path, class: "btn btn-large btn-primary" %>
</div>

